.footerContainer {
  width: 100vw;
  background-color: black;
  height: 210px;
  display: flex;
  flex-direction: column;
}

.mainFooter {
  padding-top: 20px;
  display: flex;
  height: 150px;
  width: 100vw;
  justify-content: space-between;
}

.bigWord {
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.bigWord>h1 {
  color: white;
  font-size: 50px;
  padding-left: 50px;
  flex-basis: 60%;
}

.detailFooter {
  flex-basis: 40%;
  display: flex;
  justify-content: space-evenly
}

.productFooter>h3,
.productFooter>p,
.contactFooter>h3,
.contactFooter>p,
.sosmedLink>h4,
.companyFooter>h3,
.companyFooter>p {
  color: white;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;

  margin-left: 50px;
  margin-right: 60px;

}

.sosmedLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.btnFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSosmed {
  color: #CD853F;
  font-size: 30px
}

.productFooter>*,
.companyFooter>*,
.contactFooter>* {
  line-height: 1.6;
}